body{
    margin:0px;
    padding: 0px;
    background-image: url(../images/imgonline-com-ua-blur-0M3iVtAbYzxOKDp.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
}
#container{
    width:90%;
    margin:auto;
    margin-top: 50px;
}
#container>table{
    width:100%;
    background-color: pink;
    border: 1px solid red;
    padding: 20px;
}
td{
    text-align: center;
}

th{
    padding: 5px;
    font-size: 20px;
}
td{
    padding: 5px;
    font-size: 17px;
}
.navbar{
    width:97.1%;
    margin: auto;
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
    background-color: aliceblue;
}
.navbar>img{
    width:150px;
    height:120px;
    margin-top: 10px;
}
.navbar>button{
    padding: 10px;
    background-color: red;
    color:white;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}
.navbar>h1{
    color: red;
}